<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page7</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-08-27T15:05:31Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>BA5A7A46-8680-4020-A953-3B7EB9556EB1</string>
			<key>PageDigests</key>
			<dict>
				<key>files/page7-1000-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					4lmyOqU7ugWDVFt6egrINQ==
					</data>
					<key>Size</key>
					<integer>1247</integer>
				</dict>
				<key>files/page7-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vxHOk4OVpB7twBqawBb28Q==
					</data>
					<key>Size</key>
					<integer>127479</integer>
				</dict>
				<key>files/page7-1000-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					r0f9YBAKdzvpO7+ntiCr7A==
					</data>
					<key>Size</key>
					<integer>11242</integer>
				</dict>
				<key>files/page7-1001-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					S10Emumbw19hc8vH0JDLuQ==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					12eQqetrUhp/TcH5w1l5Ug==
					</data>
					<key>Size</key>
					<integer>76751</integer>
				</dict>
				<key>files/page7-1001-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/JV1RKzamm6871BeQ1hkdA==
					</data>
					<key>Size</key>
					<integer>6917</integer>
				</dict>
				<key>files/page7-1002-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					1q4/PGxig+EMktYEvZ+Eiw==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					U+kPAw5Ghn5+y6lmb690/Q==
					</data>
					<key>Size</key>
					<integer>98542</integer>
				</dict>
				<key>files/page7-1002-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2Sdw8InV9mSmuvvZFQkAtQ==
					</data>
					<key>Size</key>
					<integer>16027</integer>
				</dict>
				<key>files/page7-1003-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					axEBTgp+6MgAlHVbR4rj+g==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gDFa7tW2wDJul5Olpbgfug==
					</data>
					<key>Size</key>
					<integer>76198</integer>
				</dict>
				<key>files/page7-1003-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					I1UbR4izWGVeLbXLMzBIPw==
					</data>
					<key>Size</key>
					<integer>12851</integer>
				</dict>
				<key>files/page7-1004-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					anflR8e0Ziob3WZg5MCwlA==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					N+KNjDl4zpqBglbfj6xvPw==
					</data>
					<key>Size</key>
					<integer>128152</integer>
				</dict>
				<key>files/page7-1004-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2Hm5uL1OOHneHSHqeTZzAA==
					</data>
					<key>Size</key>
					<integer>10982</integer>
				</dict>
				<key>files/page7-1005-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					+U2BJabGy29W9Dr1rDGUNA==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5dX45GaQvvorMNPej8enQA==
					</data>
					<key>Size</key>
					<integer>60582</integer>
				</dict>
				<key>files/page7-1005-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					dbdyqVyruAp/ASyuxynYwg==
					</data>
					<key>Size</key>
					<integer>6535</integer>
				</dict>
				<key>files/page7-1006-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					aVHW2slUHcVC87Au8jb0dg==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PtqRq3UAoDgK9Fd3rU+gPA==
					</data>
					<key>Size</key>
					<integer>43914</integer>
				</dict>
				<key>files/page7-1006-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					i7WFBqqfCxWSII/4DFw9BQ==
					</data>
					<key>Size</key>
					<integer>4261</integer>
				</dict>
				<key>files/page7-1007-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					8pMz9H+sF9rcxB94uBBpLQ==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					RtQUo743NAdwdtrWF+Sckg==
					</data>
					<key>Size</key>
					<integer>56410</integer>
				</dict>
				<key>files/page7-1007-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DCiWL79gG93er9jnmMLkdg==
					</data>
					<key>Size</key>
					<integer>5281</integer>
				</dict>
				<key>files/page7-1008-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					U5zKAuD3h3wRcgi5S4m3mA==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					z6PNfOAtZRiPkahJOAa+vQ==
					</data>
					<key>Size</key>
					<integer>96455</integer>
				</dict>
				<key>files/page7-1008-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yYB2W+KJw2fURR0Y4HFDzw==
					</data>
					<key>Size</key>
					<integer>9457</integer>
				</dict>
				<key>files/page7-1009-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					LsMNnsz1jERlwymuHWkH5A==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vAG41+oq94QmAdQ0emAw5Q==
					</data>
					<key>Size</key>
					<integer>71372</integer>
				</dict>
				<key>files/page7-1009-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					D0A2HuH2ak1EpUsURI+KDw==
					</data>
					<key>Size</key>
					<integer>13060</integer>
				</dict>
				<key>files/page7-1010-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					McLooo6kFaXThYKfhY044g==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					7lhi/kuslw0dDpI+vmAo6g==
					</data>
					<key>Size</key>
					<integer>130406</integer>
				</dict>
				<key>files/page7-1010-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+y9wLR4kkqleaTkKRZ5nsg==
					</data>
					<key>Size</key>
					<integer>11571</integer>
				</dict>
				<key>files/page7-1011-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					FiETZVcmcJMZgREIt8FeDQ==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0jjnMeLaHNpVcjIWG4vFag==
					</data>
					<key>Size</key>
					<integer>76738</integer>
				</dict>
				<key>files/page7-1011-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					EP2MfnVBtgZWtG45CAzrSQ==
					</data>
					<key>Size</key>
					<integer>8363</integer>
				</dict>
				<key>files/page7-1012-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					FGPGypflsPLbO4qTO5y8hQ==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					flGRmqKnk21Y/tMWtmPnlg==
					</data>
					<key>Size</key>
					<integer>84670</integer>
				</dict>
				<key>files/page7-1012-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					aLwXTUHsQs/9IhwJbOxXjw==
					</data>
					<key>Size</key>
					<integer>8204</integer>
				</dict>
				<key>files/page7-1013-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					eGYWre1wC7Hc4b0BUBoSdw==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					QzAv4+5ULOPXAL+bx0F82w==
					</data>
					<key>Size</key>
					<integer>233196</integer>
				</dict>
				<key>files/page7-1013-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4C88EGMajuUMQwA5oN0Y+Q==
					</data>
					<key>Size</key>
					<integer>17551</integer>
				</dict>
				<key>files/page7-1014-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					R8MyQoCQY8suA6h2dzL4ew==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fQX4wP0DkNY/Mnl+ys80KA==
					</data>
					<key>Size</key>
					<integer>200893</integer>
				</dict>
				<key>files/page7-1014-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					mwun2KiXAAGE5wnpIDh3qw==
					</data>
					<key>Size</key>
					<integer>16562</integer>
				</dict>
				<key>files/page7-1015-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					6dWS8rtxMvXQAdzFwCo+zQ==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					H2d9DhtSd2njt5jQ0IJWcQ==
					</data>
					<key>Size</key>
					<integer>82205</integer>
				</dict>
				<key>files/page7-1015-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zIe2XvHUlNlWLEnzrKEOAw==
					</data>
					<key>Size</key>
					<integer>7428</integer>
				</dict>
				<key>files/page7-1016-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					a2JIbJujXmd5Xk+M/uveAQ==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					9N62dFVreWRUGgrPhcH9bw==
					</data>
					<key>Size</key>
					<integer>82755</integer>
				</dict>
				<key>files/page7-1016-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					g3l/jktEf0nks51FracEmQ==
					</data>
					<key>Size</key>
					<integer>9679</integer>
				</dict>
				<key>files/page7-1017-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					5oFx9iFslfjI7nwTbNv6vQ==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZkSpTTZYey/wNMmdHifB+g==
					</data>
					<key>Size</key>
					<integer>138324</integer>
				</dict>
				<key>files/page7-1017-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4WfRpRHisJHA03z8NFsDmA==
					</data>
					<key>Size</key>
					<integer>11967</integer>
				</dict>
				<key>files/page7-1018-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					+WHw/AR7x8q2l31MU8Kepw==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8QdbzmIxctWT8DhkmCT9iw==
					</data>
					<key>Size</key>
					<integer>94449</integer>
				</dict>
				<key>files/page7-1018-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					49Jl1d84OJ3HC/Xoq7YHQA==
					</data>
					<key>Size</key>
					<integer>7997</integer>
				</dict>
				<key>files/page7-1019-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					5aVcnNPOvlm9ou1w+GDq1Q==
					</data>
					<key>Size</key>
					<integer>1287</integer>
				</dict>
				<key>files/page7-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					U5Y0SqPiGwlA5c171tuDDw==
					</data>
					<key>Size</key>
					<integer>62257</integer>
				</dict>
				<key>files/page7-1019-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					D40jikT4VZABVpfHLyJE7Q==
					</data>
					<key>Size</key>
					<integer>9061</integer>
				</dict>
				<key>files/page7-1020-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					W/67sKPUVcVLsdreGxMjYg==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1020-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					jw/C8sg9W5aYgIIYevS9LA==
					</data>
					<key>Size</key>
					<integer>70367</integer>
				</dict>
				<key>files/page7-1020-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YfOWLtuMtTElfk1QlUm7rw==
					</data>
					<key>Size</key>
					<integer>11562</integer>
				</dict>
				<key>files/page7-1021-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					RxgO4RhaBRg8QTas4G2eIA==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1021-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0nex/C1pz9iUZZ4vUSCaXA==
					</data>
					<key>Size</key>
					<integer>51279</integer>
				</dict>
				<key>files/page7-1021-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KTN7hdBGTSAa8NNXyuPeHA==
					</data>
					<key>Size</key>
					<integer>8563</integer>
				</dict>
				<key>files/page7-1022-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					NDT0kckocAFKNk0PEaO+oQ==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1022-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					x5AF/0RbS0RMXX9Ww17MJA==
					</data>
					<key>Size</key>
					<integer>58474</integer>
				</dict>
				<key>files/page7-1022-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					iAa3ZbEFRJ6YZIdNz/ha6g==
					</data>
					<key>Size</key>
					<integer>11593</integer>
				</dict>
				<key>files/page7-1023-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					1yuWcuyx4MX+Fq2cnRqdmw==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1023-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					WTMerMeCa0t9CLcbZkOoiQ==
					</data>
					<key>Size</key>
					<integer>140129</integer>
				</dict>
				<key>files/page7-1023-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					eNDhv0LnyTgBVJNt7kIEIw==
					</data>
					<key>Size</key>
					<integer>12103</integer>
				</dict>
				<key>files/page7-1024-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					qAE5gJp7Pp1ewtNuaEgrpA==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1024-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					IBqkdrwd8Hsx3+AlcbeJyw==
					</data>
					<key>Size</key>
					<integer>126373</integer>
				</dict>
				<key>files/page7-1024-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nuF25DJJYga9PA/qrzNsNA==
					</data>
					<key>Size</key>
					<integer>11239</integer>
				</dict>
				<key>files/page7-1025-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					+D//mxP+wLv3BLdHsqMfnA==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1025-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zxyHUo8LhpwjHlAcVAfiWA==
					</data>
					<key>Size</key>
					<integer>47540</integer>
				</dict>
				<key>files/page7-1025-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					dIPKjAkWIrZbjyjEoDk5Sw==
					</data>
					<key>Size</key>
					<integer>8268</integer>
				</dict>
				<key>files/page7-1026-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					M6PvLZ//DpLTLNUHSOpJwQ==
					</data>
					<key>Size</key>
					<integer>1286</integer>
				</dict>
				<key>files/page7-1026-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6iCFEeAkYyfjLe17aXb8bA==
					</data>
					<key>Size</key>
					<integer>78032</integer>
				</dict>
				<key>files/page7-1026-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6ArYu7hHRQjRyJUlaEYtgw==
					</data>
					<key>Size</key>
					<integer>7110</integer>
				</dict>
				<key>files/page7-1027-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					rO3i9EM9JjOtvmxFPnyCAQ==
					</data>
					<key>Size</key>
					<integer>1290</integer>
				</dict>
				<key>files/page7-1027-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lW9jwvXyTBCf6TFzXe+XOg==
					</data>
					<key>Size</key>
					<integer>101052</integer>
				</dict>
				<key>files/page7-1027-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					I4HPU54SUMJnKMgOmQLThQ==
					</data>
					<key>Size</key>
					<integer>11878</integer>
				</dict>
				<key>files/page7-1028-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Mdx2R4E+Rjmo8cllIuUOIQ==
					</data>
					<key>Size</key>
					<integer>1290</integer>
				</dict>
				<key>files/page7-1028-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tbWHEW/QluEtWvgUi5GnBA==
					</data>
					<key>Size</key>
					<integer>104335</integer>
				</dict>
				<key>files/page7-1028-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SPKG9+3aPcNPuwroGAllAg==
					</data>
					<key>Size</key>
					<integer>11520</integer>
				</dict>
				<key>files/page7-1029-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					SKCxYEhrS6V0gKuVJA4Slg==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1029-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+wowNh1aGB8Ah2N2pynafQ==
					</data>
					<key>Size</key>
					<integer>161081</integer>
				</dict>
				<key>files/page7-1029-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					7K+WNXBye9hDi2kHdkyO3A==
					</data>
					<key>Size</key>
					<integer>12896</integer>
				</dict>
				<key>files/page7-1030-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					tQtGUpwjSs6mc6w8ZkUN+Q==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1030-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gmGqdK6V7ktcrszIx8zM7A==
					</data>
					<key>Size</key>
					<integer>160070</integer>
				</dict>
				<key>files/page7-1030-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+p5ZQwSmluiYrQkHNgiayA==
					</data>
					<key>Size</key>
					<integer>14617</integer>
				</dict>
				<key>files/page7-1031-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Jh/lVm04Dghk18Q/3b1vbg==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1031-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					oqbWO+Y+31rMzU0kusfgVw==
					</data>
					<key>Size</key>
					<integer>113010</integer>
				</dict>
				<key>files/page7-1031-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					W1uI2c4gIVzBReF/hsk0jg==
					</data>
					<key>Size</key>
					<integer>9595</integer>
				</dict>
				<key>files/page7-1032-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					p+cExmmjDmd11RsnhVX1EA==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1032-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BBM7cICQJiUFrRNKAE4Zww==
					</data>
					<key>Size</key>
					<integer>108938</integer>
				</dict>
				<key>files/page7-1032-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uexQA7laiirDsAw7JPgcmg==
					</data>
					<key>Size</key>
					<integer>10324</integer>
				</dict>
				<key>files/page7-1033-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					x3YqwpluoSOOmnFCrsboLg==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1033-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cAbOEe8LWrs4F3XsRdXR2A==
					</data>
					<key>Size</key>
					<integer>121817</integer>
				</dict>
				<key>files/page7-1033-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					HUESq2uSdQzhzUFCvHzxYQ==
					</data>
					<key>Size</key>
					<integer>10251</integer>
				</dict>
				<key>files/page7-1034-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					0QW4lkJY4sWhyuNmJnovZw==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1034-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZyKwbBlFP5VZKKrGWe8juA==
					</data>
					<key>Size</key>
					<integer>92646</integer>
				</dict>
				<key>files/page7-1034-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					I88yZLfnp2Ta+PQxMkZDfA==
					</data>
					<key>Size</key>
					<integer>8082</integer>
				</dict>
				<key>files/page7-1035-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					fdNxAbvMwOyyZPV1hAZoGw==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1035-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					91zIxNX4/3opYd9eHzjzyg==
					</data>
					<key>Size</key>
					<integer>156933</integer>
				</dict>
				<key>files/page7-1035-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Hy5NBfL5O2qpXAnOiWIl/A==
					</data>
					<key>Size</key>
					<integer>13444</integer>
				</dict>
				<key>files/page7-1036-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					g+OBT2AqMPMN09ctdk3pbA==
					</data>
					<key>Size</key>
					<integer>1293</integer>
				</dict>
				<key>files/page7-1036-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ArkaR1XGTTNooYJ5n3CsNw==
					</data>
					<key>Size</key>
					<integer>128568</integer>
				</dict>
				<key>files/page7-1036-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					IcKt/EG+ZnmGW+sq+xyFJw==
					</data>
					<key>Size</key>
					<integer>11520</integer>
				</dict>
				<key>files/page7-1037-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Z+ImDOWla2CJX5nGEls9hA==
					</data>
					<key>Size</key>
					<integer>1251</integer>
				</dict>
				<key>files/page7-1037-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CNCqLq5ywXk8fLiFWxSlGA==
					</data>
					<key>Size</key>
					<integer>118262</integer>
				</dict>
				<key>files/page7-1037-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pd5PC4CXNDE3oSgigpBF4w==
					</data>
					<key>Size</key>
					<integer>10974</integer>
				</dict>
				<key>page7.html</key>
				<dict>
					<key>Digest</key>
					<data>
					bLywD0N9Q2X0Oz6QaWRpnw==
					</data>
					<key>Size</key>
					<integer>22696</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page7</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
