<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:business</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-08-27T15:05:31Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>BA5A7A46-8680-4020-A953-3B7EB9556EB1</string>
			<key>PageDigests</key>
			<dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					30cQpmcUNBVXR6GF+lU2UQ==
					</data>
					<key>Size</key>
					<integer>140</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					BGi7syAamnOc6W4k62JU1A==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					jmMgRCkH/93d5YOe0oZg1Q==
					</data>
					<key>Size</key>
					<integer>189</integer>
				</dict>
				<key>css/styles/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					J6f0g5sVgkqHzzo8xgFGBg==
					</data>
					<key>Size</key>
					<integer>1048</integer>
				</dict>
				<key>css/styles/red.css</key>
				<dict>
					<key>Digest</key>
					<data>
					U+VAsNIpMSgBRvcxpezFOg==
					</data>
					<key>Size</key>
					<integer>1011</integer>
				</dict>
				<key>css/width/width_1000.css</key>
				<dict>
					<key>Digest</key>
					<data>
					A41LZqFjQrQN12hHwRBLOQ==
					</data>
					<key>Size</key>
					<integer>30</integer>
				</dict>
				<key>css/width/width_680.css</key>
				<dict>
					<key>Digest</key>
					<data>
					hC5GaGOEXsYWGYp3fmo4Uw==
					</data>
					<key>Size</key>
					<integer>29</integer>
				</dict>
				<key>css/width/width_default.css</key>
				<dict>
					<key>Digest</key>
					<data>
					X8xm4KwAguRWrtn/Y9KTPQ==
					</data>
					<key>Size</key>
					<integer>158</integer>
				</dict>
				<key>css/width/width_variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					pscpKnXbhMXY/KzB0alv4g==
					</data>
					<key>Size</key>
					<integer>40</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/header_bg.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					RJfnM89iLpYzxA7KexmEQg==
					</data>
					<key>Size</key>
					<integer>60251</integer>
				</dict>
				<key>images/header_bg_off.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gsmi2C/wg6LngzdZbPYvpA==
					</data>
					<key>Size</key>
					<integer>26718</integer>
				</dict>
				<key>images/red/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					3MyzzvGrUqfINjgsHVKqRA==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>images/sidebar_left.png</key>
				<dict>
					<key>Digest</key>
					<data>
					J21QfzggksYVG3UMGw45mA==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>images/sidebar_right.png</key>
				<dict>
					<key>Digest</key>
					<data>
					C0yU5Dh13W44znVGf3IIPA==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					iezQ8899+O5jnHKzWNWPWg==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					YlmqJDZc2svcTfEFuyi5OQ==
					</data>
					<key>Size</key>
					<integer>12051</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:business</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
